apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: "{{ ssp_ps_registry_secret }}"
  namespace: "{{ ssp_ps_namespace }}"
data:
  .dockerconfigjson: "{{ new_secret | to_json | b64encode }}"
