apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: "{{ itxrs_registry_secret }}"
  namespace: "{{ itxrs_namespace }}"
data:
  .dockerconfigjson: "{{ new_secret | to_json | b64encode }}"
