apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ itxa_db_secret }}"
  namespace: "{{ itxa_namespace }}"
data:
{% if deploy_db2_for_itxa %}
  databaseName: "{{ db2_dbname | b64encode }}"
  dbUser: "{{ db2_username | b64encode }}"
  dbPassword: "{{ db2_password | b64encode }}"
  dbHostIp: "{{ db2_host }}"
  dbPort: "{{ db2_port }}"
{% endif %}
