apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ itxa_db_secret }}"
  namespace: "{{ itxa_namespace }}"
data:
{% if deploy_db2 %}
  databaseName: "{{ db2_dbname | b64encode }}"
  dbUser: "{{ db2_username | b64encode }}"
  dbPassword: "{{ db2_password | b64encode }}"
  dbHostIp: "{{ itxa_dbhost | b64encode }}"
  dbPort: "{{ itxa_dbport | b64encode }}"
  accessKey: ""
  secretKey: ""
  dbCurrentSchema: "{{ db2_username | upper | b64encode }}"
{% endif %}
