global:
  license: true
  licenseType: "{{ itxa_license_type }}"
  image:
    repository: "{{ itxa_registry }}/ibm-itxa"
    pullSecret: "{{ itxa_registry_secret }}"
  defaultSeccompProfile:
    enabled: false
  appSecret: "{{ itxa_db_secret }}"
  tlskeystoresecret: "{{ itxa_tls_secret }}"
  secureDBConnection:
    enabled: false
    dbservercertsecretname: ""
  database:
    dbvendor: "{{ itxa_db_vendor | lower }}"
    oracleUseServiceName: {{ itxa_use_oracle_service_name | bool }}
  serviceAccount:
    create: true
    name: "{{ itxa_serviceaccount }}"
  persistence:
    useDynamicProvisioning: true
    storageClassName: "{{ file_storage_class }}"
    appLogsPVC:
      name: "itxa-logs-pvc"
      selector:
        label: "intent"
        value: "itxa-logs"
      accessMode: ReadWriteMany
      requestSize: "{{ itxa_app_logs_size }}"
    securityContext:
      fsGroup:
      supplementalGroup: 65534
  resourcesInit:
    enabled: true
    image:
      name: itxa-resources
      tag: "{{ itxa_version }}"
      pullPolicy: "Always"
  arch:
    amd64: "2 - No preference"
  install:
    itxaUI:
      enabled: true
    itxadbinit:
      enabled: true
  nginxTimeout: "10m"
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 25
logs:
  enableAppLogOnConsole: true
ITX:
  image:
    repository: cp.icr.io/cp/ibm-itx-rs
    tag: "{{ versions[itxa_version].itx_version }}"
    digest: ""
    pullPolicy: IfNotPresent
itxauiserver:
  replicaCount: 1
  runAsUser: 1001
  xpathExpLimitRemove: false
  image:
    name: itxa-ui-server
    tag: "{{ itxa_version }}"
    pullPolicy: IfNotPresent
  config:
    jvm:
      xms: 1024m
      xmx: 2048m
    libertyStartupWrapper: "/opt/ibm/helpers/runtime/docker-server.sh"
  livenessCheckBeginAfterSeconds: 60
  livenessFailRestartAfterMinutes: 10
  service:
    type: NodePort
    http:
      port: 9080
      nodePort: 30089
    https:
      port: 9443
      nodePort: 30452
  resources:
    requests:
      ephemeral-storage: 2560Mi
      memory: 2560Mi
      cpu: 1
    limits:
      ephemeral-storage: 3840Mi
      memory: 3840Mi
      cpu: 2
  ingress:
    enabled: true
    host: ""
    ssl:
      enabled: true
      secretname: "{{ itxa_ingress_secret }}"
    controller: nginx
    contextRoots: ["spe", "adminCenter"]
    annotations: {}
  podLabels: {}
  tolerations: []
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution: {}
    preferredDuringSchedulingIgnoredDuringExecution: []
  podAffinity:
    requiredDuringSchedulingIgnoredDuringExecution: []
    preferredDuringSchedulingIgnoredDuringExecution: []
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution: []
    preferredDuringSchedulingIgnoredDuringExecution: []
    replicaNotOnSameNode:
      mode: prefer
      weightForPreference: 100
  importcert:
    secretname: ""
  readinessProbePath: "/spe/myspe"
  userSecret: "{{ itxa_admin_secret }}"
itxadatasetup:
  dbType: "{{ itxa_db_vendor | lower }}"
  deployPacks:
    edi: {{ edi_deploy | lower }}
    fsp: {{ fsp_deploy | lower }}
    hc: {{ hc_deploy | lower }}
  tenantId: ""
  ignoreVersionWarning: true
  loadFactoryData: "install"
itxadbinit:
  runAsUser: 1001
  image:
    repository: "{{ itxa_registry }}/cp/ibm-itxa"
    name: itxa-init-db
    tag: "{{ itxa_version }}"
    pullPolicy: IfNotPresent
