apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: "{{ db2_registry_secret }}"
  namespace: "{{ db2_namespace }}"
data:
  .dockerconfigjson: "{{ new_secret | to_json | b64encode }}"
