apiVersion: v1
kind: ConfigMap
metadata:
  name: mqsc-ini-example
  namespace: "{{ mq_namespace }}"
data:
  example1.mqsc: |
    DEFINE QLOCAL('DEV.QUEUE.1') REPLACE
    DEFINE QLOCAL('DEV.QUEUE.2') REPLACE
    DEFINE CHANNEL('DEV.CHANNEL.SVRCONN') CHLTYPE(SVRCONN) TRPTYPE(TCP) REPLACE
    ALTER CHANNEL('DEV.CHANNEL.SVRCONN') CHLTYPE(SVRCONN) MCAUSER('mqadmin')
    SET CHLAUTH('DEV.CHANNEL.SVRCONN') TYPE(USERMAP) CLNTUSER('mqadmin') USERSRC(MAP) MCAUSER('mqadmin')
    DEFINE AUTHINFO('COMPATMODE') AUTHTYPE(IDPWOS) ADOPTCTX(YES) CHCKCLNT(NONE) CHCKLOCL(NONE) FAILDLAY(10)
    ALTER QMGR CONNAUTH('COMPATMODE')
    REFRESH SECURITY TYPE(CONNAUTH)
  example2.mqsc: |
    DEFINE QLOCAL('DEV.DEAD.LETTER.QUEUE') REPLACE
  example.ini: |
    Channels:
       MQIBindType=FASTPATH