apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: "{{ mq_registry_secret }}"
  namespace: "{{ mq_namespace }}"
data:
  .dockerconfigjson: "{{ mq_new_secret | to_json | b64encode }}"
