apiVersion: v1
kind: Secret
metadata:
  name: "{{ mq_deploy_secret }}"
  namespace: "{{ mq_namespace }}"
type: Opaque
data:
  mqAdminPassword: "{{ mq_admin_password | b64encode }}"
  mqAppPassword: "{{ mq_appuser_password | b64encode }}"