apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ mq_secret }}"
  namespace: "{{ mq_namespace }}"
data:
  MQ_ADMIN_PASSWORD: "{{ mq_admin_password | b64encode }}"
  MQ_APP_PASSWORD: "{{ mq_app_password | b64encode }}"
