apiVersion: v1
kind: Secret
metadata:
  name: "{{ mq_deploy_secret }}"
  namespace: "{{ mq_namespace }}"
type: Opaque
data:
  dev-admin-password: "{{ mq_admin_password | b64encode }}"
  dev-app-password: "{{ mq_appuser_password | b64encode }}"