apiVersion: mq.ibm.com/v1beta1
kind: QueueManager
metadata:
  name: "{{ mq_crd_name }}"
  namespace: "{{ mq_namespace }}"
spec:
  license:
    accept: true
    license: L-HYGL-6STWD6
    use: Development
  securityContext:
    supplementalGroups:
      - 1001
      - 0
    fsGroup: 1001
    runAsUser: 1001
  queueManager:
    configMap:
      name: mq-poststart-script
    env:
      - name: MQ_DEV
        value: "true"
      - name: MQ_CONNAUTH_USE_HTP
        value: "true"
    files:
      - secret:
          items:
            - item: mqAdminPassword
            - item: mqAppPassword
          name: "{{ mq_deploy_secret }}"
          defaultMountPath: /run/secrets
    mqsc:
    - configMap:
        name: mqsc-ini-example
        items:
        - example1.mqsc
        - example2.mqsc
    availability:
      type: SingleInstance
    storage:
      defaultClass: "{{ file_storage_class }}"
      queueManager:
        class: "{{ file_storage_class }}"
        deleteClaim: true
        size: "{{ mq_storage_size }}"
        type: persistent-claim
  version: "{{ mq_operator_version }}"
  web:
    enabled: true  
