apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ seas_secret }}"
  namespace: "{{ seas_namespace }}"
data:
  sysPassphrase: "{{ seas_sys_passphrase | b64encode }}"
  adminPassword: "{{ seas_admin_password | b64encode }}"
  keyStorePassphrase: "{{ seas_keystore_passphrase | b64encode }}"
  trustStorePassphrase: "{{ seas_truststore_passphrase | b64encode }}"
