apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: "{{ cd_ws_deploy_registry_secret }}"
  namespace: "{{ cd_ws_namespace }}"
data:
  .dockerconfigjson: "{{ new_secret | to_json | b64encode }}"