apiVersion: v1
kind: Secret
metadata:
  name: "{{ cd_ws_deploy_cert_secret }}"
  namespace: "{{ cd_ws_namespace }}"
  labels:
    app: secret
    author: qa
type: Opaque
data:
  cdcert.pem: "{{ lookup('file', cd_ws_cert_pem) | b64encode }}"
