apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ cd_ws_pvc }}"
  namespace: "{{ cd_ws_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi