apiVersion: v1
kind: Secret
metadata:
  name: "{{ cd_ws_deploy_secret }}"
  namespace: "{{ cd_ws_namespace }}"
type: Opaque
data:
  trustStorePassword: "{{ cd_ws_truststore_password | b64encode }}"
  keyStorePassword: "{{ cd_ws_keystore_password | b64encode }}"
  caCertPassword: "{{ cd_ws_cacert_password | b64encode }}"
