apiVersion: v1
kind: Secret
metadata:
  name: "{{ cd_deploy_cert_secret }}"
  namespace: "{{ cd_namespace }}"
  labels:
    app: secret
    author: qa
type: Opaque
data:
  cdcert.pem: "{{ lookup('file', cd_cert_pem) | b64encode }}"
