apiVersion: v1
kind: Secret
metadata:
  name: "{{ cd_deploy_secret }}"
  namespace: "{{ cd_namespace }}"
type: Opaque
data:
  admPwd: "{{ cd_admin_password | b64encode }}"
  appUserPwd: "{{ cd_appuser_password | b64encode }}"
  crtPwd: "{{ cd_local_cert_phrase | b64encode }}"
  keyPwd: "{{ cd_keystore_password | b64encode }}"