apiVersion: v1
kind: Secret
metadata:
  name: "{{ cd_deploy_secret }}"
  namespace: "{{ cd_namespace }}"
type: Opaque
data:
  admPwd: "{{ cd_admin_password }}"
  appUserPwd: "{{ cd_appuser_password }}"
  crtPwd: "{{ cd_local_cert_phrase }}"
  keyPwd: "{{ cd_keystore_password }}"