apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ ssp_cm_pvc }}"
  namespace: "{{ ssp_cm_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 2Gi