apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: "{{ ssp_cm_registry_secret }}"
  namespace: "{{ ssp_cm_namespace }}"
data:
  .dockerconfigjson: "{{ new_secret | to_json | b64encode }}"
