apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ ssp_cm_secret }}"
  namespace: "{{ ssp_cm_namespace }}"
data:
  sysPassphrase: "{{ ssp_cm_sys_passphrase | b64encode }}"
  adminPassword: "{{ ssp_cm_admin_passphrase | b64encode }}"
  keyCertStorePassphrase: "{{ ssp_cm_keycert_store_passphrase | b64encode }}"
  keyCertEncryptPassphrase: "{{ ssp_cm_keycert_encrypt_passphrase | b64encode }}"
  commonCertPassword: "{{ ssp_cm_common_cert_passphrase | b64encode }}"
  engCertPassword: "{{ ssp_cm_eng_cert_password | b64encode }}"
  cmClientCertPassword: "{{ ssp_cm_client_cert_password | b64encode }}"
  cmCertPassword: "{{ ssp_cm_cert_password | b64encode }}"
  cmServerCertPassword: "{{ ssp_cm_server_cert_password | b64encode }}"
  webCertPassword: "{{ ssp_cm_web_cert_password | b64encode }}"
  exportCertPassword: "{{ ssp_cm_export_cert_password | b64encode }}"