apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ b2bi_db_secret }}"
  namespace: "{{ b2bi_namespace }}"
data:
{% if deploy_db2_for_b2bi %}
  DB_USER: "{{ db2_username | b64encode }}"
  DB_PASSWORD: "{{ db2_password | b64encode }}"
{% endif %}
