---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: "{{ b2bi_serviceaccount }}"
  namespace: "{{ b2bi_namespace }}"
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ibm-b2bi-role-{{ b2bi_namespace }}
  namespace: {{ b2bi_namespace }}
rules:
  - apiGroups: ['route.openshift.io']
    resources: ['routes','routes/custom-host']
    verbs: ['get', 'watch', 'list', 'patch', 'update']
  - apiGroups: ['','batch']
    resources: ['secrets','configmaps','persistentvolumes','persistentvolumeclaims','pods','services','cronjobs','jobs']
    verbs: ['create', 'get', 'list', 'delete', 'patch', 'update']

---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ibm-b2bi-rolebinding-{{ b2bi_namespace }}
  namespace: {{ b2bi_namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ b2bi_serviceaccount }}
    namespace: {{ b2bi_namespace }}
roleRef:
  kind: Role
  name: ibm-b2bi-role-{{ b2bi_namespace }}
  apiGroup: rbac.authorization.k8s.io