apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: "{{ b2bi_registry_secret }}"
  namespace: "{{ b2bi_namespace }}"
data:
  .dockerconfigjson: "{{ new_secret | to_json | b64encode }}"