apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ b2bi_system_passphrase_secret }}"
  namespace: "{{ b2bi_namespace }}"
data:
  SYSTEM_PASSPHRASE: "{{ b2bi_system_passphrase | b64encode }}"