apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ b2bi_liberty_keystore_password_secret }}"
  namespace: "{{ b2bi_namespace }}"
data:
  LIBERTY_KEYSTORE_PASSWORD: "{{ b2bi_liberty_keystore_password | b64encode }}"
