---
- name: "Configure Sterling Secure Proxy Engine Namespace"
  ansible.builtin.include_tasks: 01_configure_namespace.yml

- name: "Deploy the SSP ENGINE helm chart configuration"
  ansible.builtin.include_tasks: 02_deploy_ssp_engine.yml
