apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ ssp_engine_secret }}"
  namespace: "{{ ssp_engine_namespace }}"
data:
  sysPassphrase: "{{ ssp_engine_sys_passphrase | b64encode }}"
  keyCertStorePassphrase: "{{ ssp_engine_keycert_store_passphrase | b64encode }}"
  keyCertEncryptPassphrase: "{{ ssp_engine_keycert_encrypt_passphrase | b64encode }}"
  customKeyCertPassphrase: "{{ ssp_engine_custom_keycert_passphrase | b64encode }}"
