apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ ssp_engine_pvc }}"
  namespace: "{{ ssp_engine_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 2Gi